body{
    background-image: url("bgimage.jpeg");
    font-style:normal;
    background-attachment: fixed;
  }
  div{
    margin: 2em 5em 3em 5em;
    padding: 2em 6em 2em 6em;
    background: rgb(148, 217, 231);
    background: linear-gradient(98%);
    color: #23202a;
    border-radius: 1.25rem;
    font-style:normal;
  }
  #line1{
    text-align:center;
    font-style:normal;
   
    background-image: radial-gradient(rgb(169, 176, 178));
    background-size: cover;
  }
  #line2{
   display: block;
   font-style:normal;
   
    background-image: radial-gradient(rgb(181, 197, 203));
    background-size: cover;
   
  
    
  }
  .form{
    width: 100%;
    margin-bottom: 1em;
    font-style:normal;
  }
  
  #submit{
    display: block;
    width: 100%;
    padding: 0.75rem;
    background: rgb(103, 160, 141);
    color:normal;
    border-radius: 15px;
    cursor: pointer;
  }
  
  textarea{
    width: 100%;
  }
  #title{
    text-align: center;
  }
  #description{
    text-align: center;
  }
 